.DS_Store
.idea/
.gitignore
experiments/TMA_4096_Notes.txt
experiments/TMA_Arteriole_Segmentation.json
experiments/TMA_Arteriole_stylegan2_ada.json
generated_datasets/
_pca_visuals/
runs/
training-runs/
segm-training-runs/
calculate_dataset_mean_std.py
check_pixel_class_distribution.py
pca_test_script.py
pixel_class_distrib_TMA.txt
pixel_tma4096_full_class_distrib.txt
pixel_tma4096_reduced_class_distrib.txt
test_segm_network.py

